.banner {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.bannerContent {
    width: 100%;
    background: linear-gradient(90deg, #0080FE 57.81%, #01FEFF 100%);
    border-radius: var(--radius);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
}

.author {
    background-color: var(--bg-grey);
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 40px;
    padding-right: 1rem;
    margin: 1.5rem 0;
}

.authorName {
    font-weight: 700;
    font-size: .9rem;
}

.bannerTitle {
    font-size: 1.5rem;
    text-align: center;
}

.bannerDescription {
    font-size: .9rem;
    text-align: center;
}

.slider {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sliderIcon {
    color: grey;
    font-size: .5rem;
}

@media screen and (max-width: 480px) {
    .bannerTitle {
        font-size: 1rem;
    }
    .bannerDescription {
        font-size: .7rem;
    }
    .authorName {
        font-size: .7rem;
    }
}